@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  height: auto;
  overflow: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 8%;
  background: linear-gradient(60deg, #962fbf, #4f5bd5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.header-left {
  position: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  user-select: none;
  display: flex;
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.discord-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #5865F2;
  color: white;
  padding: 10px 16px;
  border-radius: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.discord-btn:hover {
  background-color: #4752c4;
}

.insta-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 16px;
  color: white;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  border-radius: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.insta-btn:hover {
  opacity: 0.8;
}
