/* [project]/src/components/styles/HeroCarousel.module.css [app-client] (css) */
.HeroCarousel-module__EJSmBW__carousel {
  isolation: isolate;
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .HeroCarousel-module__EJSmBW__carousel {
    height: 700px;
  }
}

.HeroCarousel-module__EJSmBW__background {
  position: absolute;
  inset: 0;
}

.HeroCarousel-module__EJSmBW__bgImage {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.HeroCarousel-module__EJSmBW__bgGradient1 {
  background: linear-gradient(to right, #000, #000c, #0000);
  position: absolute;
  inset: 0;
}

.HeroCarousel-module__EJSmBW__bgGradient2 {
  background: linear-gradient(to top, #000, #0003, #0000);
  position: absolute;
  inset: 0;
}

.HeroCarousel-module__EJSmBW__characterContainer {
  justify-content: center;
  align-items: center;
  width: 40%;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
}

.HeroCarousel-module__EJSmBW__characterImageWrapper {
  width: 100%;
  height: 80%;
  position: relative;
}

.HeroCarousel-module__EJSmBW__characterImage {
  -o-object-fit: contain;
  object-fit: contain;
  filter: drop-shadow(0 0 20px #000000e6);
  width: 100%;
  height: 100%;
}

.HeroCarousel-module__EJSmBW__navButtonLeft, .HeroCarousel-module__EJSmBW__navButtonRight {
  color: #fff;
  opacity: 0;
  cursor: pointer;
  z-index: 20;
  background: #00000080;
  border: none;
  border-radius: 999px;
  width: 42px;
  height: 42px;
  transition: all .25s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.HeroCarousel-module__EJSmBW__carousel:hover .HeroCarousel-module__EJSmBW__navButtonLeft, .HeroCarousel-module__EJSmBW__carousel:hover .HeroCarousel-module__EJSmBW__navButtonRight {
  opacity: 1;
}

.HeroCarousel-module__EJSmBW__navButtonLeft {
  left: 20px;
}

.HeroCarousel-module__EJSmBW__navButtonRight {
  right: 20px;
}

.HeroCarousel-module__EJSmBW__contentWrapper {
  z-index: 10;
  align-items: center;
  padding-left: 80px;
  display: flex;
  position: absolute;
  inset: 0;
}

.HeroCarousel-module__EJSmBW__content {
  max-width: 1100px;
}

.HeroCarousel-module__EJSmBW__title {
  color: #fff;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  max-width: 100%;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  overflow: hidden;
}

@media (min-width: 768px) {
  .HeroCarousel-module__EJSmBW__title {
    font-size: 72px;
  }
}

.HeroCarousel-module__EJSmBW__description {
  color: #c2bebedc;
  max-width: 450px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.HeroCarousel-module__EJSmBW__actionButtons {
  gap: 20px;
  margin-top: 100px;
  display: flex;
}

.HeroCarousel-module__EJSmBW__readBtn {
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #7c3aed, #6d28d9);
  border: none;
  border-radius: 14px;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  font-size: 20px;
  font-weight: 600;
  transition: all .25s;
  display: flex;
  box-shadow: 0 6px 20px #bd8aed9b;
}

.HeroCarousel-module__EJSmBW__readBtn:hover {
  transform: scale(1.05);
}

.HeroCarousel-module__EJSmBW__readBtn:active {
  transform: scale(.95);
}

.HeroCarousel-module__EJSmBW__saveBtn {
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 14px 16px;
  transition: all .25s;
}

.HeroCarousel-module__EJSmBW__saveBtn:hover {
  transform: scale(1.1);
}

.HeroCarousel-module__EJSmBW__saveBtn:active {
  transform: scale(.95);
}

.HeroCarousel-module__EJSmBW__bookmark {
  color: #fff;
  transition: color .25s;
}

.HeroCarousel-module__EJSmBW__bookmark.HeroCarousel-module__EJSmBW__active {
  color: #7c3aed;
}

.HeroCarousel-module__EJSmBW__indicators {
  z-index: 20;
  gap: 8px;
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 40px;
}

.HeroCarousel-module__EJSmBW__indicator, .HeroCarousel-module__EJSmBW__indicatorActive {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  height: 4px;
  transition: all .4s;
}

.HeroCarousel-module__EJSmBW__indicator {
  background: #fff6;
  width: 24px;
}

.HeroCarousel-module__EJSmBW__indicator:hover {
  background: #ffffffb3;
}

.HeroCarousel-module__EJSmBW__indicatorActive {
  background: #a855f7;
  width: 48px;
}

/*# sourceMappingURL=src_components_styles_HeroCarousel_module_css_bad6b30c._.single.css.map*/